@font-face {
  font-family: "iconfont";
  src: url("iconfont.eot?t=1580713750075"); /* IE9 */
  src: url("iconfont.eot?t=1580713750075#iefix") format("embedded-opentype"),
    url("iconfont.woff?t=1580713750075") format("woff"),
    url("iconfont.ttf?t=1580713750075") format("truetype"),
    url("iconfont.svg?t=1580713750075#iconfont") format("svg");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfeiji:before {
  content: "\e66c";
}

.iconshanchu:before {
  content: "\e6bb";
}

.iconfangdajing:before {
  content: "\e6dd";
}

.icondaochu:before {
  content: "\e6df";
}

.iconqiche:before {
  content: "\e6b1";
}

.iconduihaomian:before {
  content: "\e760";
}

.icontanhaomian:before {
  content: "\e764";
}

.icontishi:before {
  content: "\e60f";
}

.iconjiaotongLOGO:before {
  content: "\e789";
}

.iconhuoche:before {
  content: "\e73e";
}

.iconadd-sy:before {
  content: "\e600";
}

.icondengdai:before {
  content: "\e7c0";
}
